<!-- TODO: A helper to simplify reading -->
<div class='row livogis-form-espacement'>
  <div class='col-sm-6'>
    <div class='input-group'>
      <input name='firstname' class='form-control'
        value='<%= current_user.firstname %>' disabled='true'>
      </input>
      <input name='lastname' class='form-control'
             value='<%= current_user.lastname %>' disabled='true'>
      </input>
      <span class='input-group-addon'>
        <span class='glyphicon glyphicon-user'></span>
      </span>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='input-group'>
      <input name='email' class='form-control'
             value='lairana@free.fr' disabled='true'>
        <span class='input-group-addon'>
          <span class='glyphicon glyphicon-envelope'></span>
        </span>
      </input>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='input-group'>
      <input name='password' class='form-control' type='password'
             value='mon_password' disabled='true'>
        <span class='input-group-addon'>
          <span class='glyphicon'><i class='fa fa-key'></i></span>
        </span>
      </input>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='input-group'>
      <input name='addresse' class='form-control'
             value='12 allée des pinsons' disabled='true'>
        <span class='input-group-addon'>
          <span class='glyphicon glyphicon-home'></span>
        </span>
      </input>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='input-group'>
      <input name='addresse' class='form-control'
             value='Saint Pathus' disabled='true'>
        <span class='input-group-addon'>
          <span class='glyphicon'><i class="fa fa-map-marker"></i></span>
        </span>
      </input>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='input-group'>
      <input name='addresse' class='form-control'
             value='77178' disabled='true'>
        <span class='input-group-addon'>
          <span class='glyphicon'>ZIP</span>
        </span>
      </input>
    </div>
  </div>

  <div class="col-sm-3" style="margin-left: 10px;margin-top: 5px;">
    <%=
      link_to 'Modifier',
              edit_user_registration_path,
              class: %w(btn livogis-btn-color)
    %>
  </div>
</div>
