<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed'
              data-toggle='collapse' data-target='#navbar'
              aria-expanded='false' aria-controls='navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='pull-left' href='<%= link_to '/' %>'>
        <%= image_tag('livogis64.png', class: %w(livogis-img)) %>
      </a>
      <%= link_to 'Livogis', '/', class: %w(navbar-brand livogis-title) %>
    </div>
    <div style='height: 1px;' aria-expanded='false' id='navbar'
         class='navbar-collapse collapse'>
      <div class='nav navbar-right'>
        <a href='/user/profil'>Lairan Alexandre <%= image_tag('avatar64.png', class: %w(livogis-img)) %></a>
      </div>
    </div>
  </div>
</nav>
